uploads/aso/
uploads/branch_manager/
uploads/certificate/
uploads/client/
uploads/cp/
uploads/cphead/
uploads/cv/
uploads/employee/
uploads/field/
uploads/gallery/
uploads/receiptionist/
uploads/testimoniels/
uploads/training/